* {
	margin: 0;
	padding: 0;
}
html {
	background-color: #c5c5c5;
	font-size: 62.5%;
}
body {
	width: 56%;
	margin: 0 auto;
	font-family: "微软雅黑";
}
header {
	width: 56%;
	background-color: #5fc0cd;
	text-align: center;
	position: fixed;
	top: 0;
	z-index: 30000;
}
header a {
	float: left;
	background: url(img/back.png) no-repeat;
	width: 2rem;
	height: 4rem;
	margin: 1.7rem 2.5rem;
	vertical-align: 4rem;
}
header p {
	font-size: 2.5rem;
	color: #fff;
	height: 6.6rem;
	line-height: 6.6rem;
	text-indent: -10rem;
}
main {
	width: 100%;
	background-color: #fff;
	margin-top: 7.5rem;
	padding-bottom: 18rem;
}
main .head {
	background: url(img/bg.png) no-repeat;
	background-size: 100% 100%;
}
main .head > i {
	display: inline-block;
	width: 14rem;
	height: 14rem;
	background: url(img/head-1.png) no-repeat;
	background-size: 100% 100%;
	margin: 6rem 3rem;
	vertical-align:middle
}
.head div {
	display: inline-block;
	color: #fff;
	vertical-align: middle;
}
.head h2 {
	font-size: 3rem;
	font-weight: 300;
	line-height: 3rem;
}
.head p {
	font-size: 1.8rem;
	letter-spacing: 0.2rem;
	text-indent: 2.5rem;
	padding-top: 1rem;
}
.head div > i {
	position: absolute;
	background: url(img/position-1.png) no-repeat;
	background-color: transparent;
	width: 1.5rem;
	height: 2rem;
	margin-top: 1rem;
	margin-left: 0.2rem;
}

.content h1 {
	font-size: 2.5rem;
	line-height: 2.5rem;
	padding-left: 2.5rem;
	margin: 3rem 0 3rem 2.5rem;
	border-left: 0.2rem solid #5fc0de;
	font-weight: 500;
}
hr {
	margin-top: -7px; 
	border: 0;
	height: 1px;
	color: #e1e5e7;
	background-color: #e1e5e7;
}
.content div, .content ol {
	font-size: 2.5rem;
	line-height: 2.5rem;
	margin-left: 2.5rem;
	padding-left: 2.5rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
	border-bottom: 1px solid #e1e5e7;
	letter-spacing: 0.2rem;
}
.content div span {
	display: inline-block;
	text-indent: 2.5rem;
	padding-right: 0.5rem;
}
.content div span.right-line {
	border-left: 1px solid #e1e5e7;
	padding-left: 2rem;
}
.content div > i {
	position: absolute;
	background: url(img/start.png) no-repeat;
	width: 2.5rem;
	height: 4rem;
	margin-top: -0.5rem;
}
.start-2 {
	margin-left: 2rem;
}
.content ul {
	color: #999999;
	list-style-type: none;
}
ol span {
	color: #5a5a5a;
	margin-left: 2rem;
	padding-left: 2rem;
	border-left: 1px solid #e1e5e7;
}
ol span.red {
	color: #e26163;
}
ol > i {
	display: inline-block;
	height: 2.5rem;
	width: 1px;
	background-color: #e1e5e7;
	vertical-align: middle;
	margin-left: 2rem;
}
ol span.intro {
	display: inline-block;
	border: none;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 2.5rem;
	vertical-align: middle;
	width: 60%;  /*设置宽度为50% 为了占去一半  ol的一半，为了缩小不串行 */
	padding-left: 0;
}
ol:last-child {
	margin-left: 0;
	padding-left: 5rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

footer {
	position: fixed;
	width: 56%;
	bottom: 2rem;
	background-color: #fff;
}
footer a {
	float: left;
	width: 40%;
	border: 2px solid #5fcdcd;
	text-align: center;
	font-size: 2.6rem;
	line-height: 7rem;
	text-decoration: none;
	border-radius: 10px;
}
footer a.leave {
	margin-left: 3.3rem;
	margin-right: 4rem;
	color: #5fcdcd;
}
footer a.telephone {
	color: #fff;
	background-color: #5fcdcd;
}
